;; shadow-cljs configuration
{
 ;:deps {:aliases [:dev :test]}

 :source-paths
 ["src/main"]

 :dependencies
 [[reagent "0.8.1"]]

 :dev-http
 {8020 "docs"}

 :builds
 {:app
  {:target :browser
   :output-dir "docs/js"
   :asset-path "/js"

   :modules
   {:main ; becomes docs/js/main.js
    {:init-fn browser/init}}}}}
